<h1 class="unnumbered" id="sec:overview">Overview</h1>
<p>This package provides for <a href="http://luatex.org">LuaLaTeX</a> an
<a href="http://ctan.org/pkg/arabtex">ArabTeX</a>-like interface to
generate Arabic writing from an <span class="smallcaps">ascii</span>
transliteration. It is particularly well-suited for complex documents
such as technical documents or critical editions where a lot of
left-to-right commands intertwine with Arabic writing. arabluatex is
able to process any ArabTeX input notation. Its output can be set in the
same modes of vocalization as ArabTeX, or in different roman
transliterations. It further allows many typographical refinements. It
will eventually interact with some other packages yet to come to produce
from <code>.tex</code> source files, in addition to printed books,
<code>TEI xml</code> compliant critical editions and/or lexicons that
can be searched, analyzed and correlated in various ways.</p>
<h1 class="unnumbered" id="license-and-disclamer">License and
disclamer</h1>
<p>ArabLuaTeX – Processing ArabTeX notation under LuaLaTeX</p>
<p>Copyright ⓒ 2016–2022 Robert Alessi</p>
<p>Please send error reports and suggestions for improvements to Robert
Alessi:</p>
<ul>
<li><p>email: <a
href="mailto:alessi@robertalessi.net">alessi@robertalessi.net</a></p></li>
<li><p>website: <a href="http://www.robertalessi.net/arabluatex"
class="uri">http://www.robertalessi.net/arabluatex</a></p></li>
<li><p>comments, feature requests, bug reports: <a
href="https://gitlab.com/ralessi/arabluatex/issues"
class="uri">https://gitlab.com/ralessi/arabluatex/issues</a></p></li>
</ul>
<p>This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.</p>
<p>This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
Public License for more details.</p>
<p>You should have received a copy of the GNU General Public License
along with this program. If not, see
&lt;http://www.gnu.org/licenses/&gt;.</p>
<p>This release of arabluatex consists of the following source
files:</p>
<ul>
<li><p><code>arabluatex.ins</code></p></li>
<li><p><code>arabluatex.dtx</code></p></li>
<li><p><code>arabluatex.lua</code></p></li>
<li><p><code>arabluatex_voc.lua</code></p></li>
<li><p><code>arabluatex_fullvoc.lua</code></p></li>
<li><p><code>arabluatex_novoc.lua</code></p></li>
<li><p><code>arabluatex_trans.lua</code></p></li>
</ul>
<h2 class="unnumbered" id="sec:documentation-license">License applicable
to the documentation</h2>
<p>Copyright ⓒ 2016–2022 Robert Alessi</p>
<p>Permission is granted to copy, distribute and/or modify this document
under the terms of the GNU Free Documentation License, Version 1.3 or
any later version published by the Free Software Foundation; with no
Invariant Sections, no Front-Cover Texts, and no Back-Cover Texts. A
copy of the license is included in the section entitled “GNU Free
Documentation License” of the documentation.</p>
<h1 class="unnumbered" id="sec:installation">Installation</h1>
<ol>
<li><p>Run <code>'lualatex arabluatex.ins'</code> to produce the
<code>arabluatex.sty</code> file;</p></li>
<li><p>To finish the installation you have to move the following files
into a directory where LaTeX can find them. See the FAQ on
<code>texfaq.org</code> at <a href="https://texfaq.org/FAQ-inst-wlcf"
class="uri">https://texfaq.org/FAQ-inst-wlcf</a> for more on this:</p>
<ul>
<li><p><code>arabluatex.sty</code></p></li>
<li><p><code>arabluatex-patch.sty</code></p></li>
<li><p><code>arabluatex.lua</code></p></li>
<li><p><code>arabluatex_voc.lua</code></p></li>
<li><p><code>arabluatex_fullvoc.lua</code></p></li>
<li><p><code>arabluatex_novoc.lua</code></p></li>
<li><p><code>arabluatex_trans.lua</code></p></li>
</ul></li>
<li><p>Additionally, those who use emacs with AUCTeX may copy
<code>arabluatex.el</code> to their <code>~/.emacs.d/auctex/auto</code>
local directory. This will enable the appropriate hooks for
ArabLuaTeX in AUCTeX.</p></li>
</ol>
<h1 id="sec:devel-git-repos">Development, Git Repository</h1>
<h2 class="unnumbered" id="sec:browse-code">Browse the code</h2>
<p>You can browse ArabLuaTeX repository on the web: <a
href="http://git.robertalessi.net/arabluatex"
class="uri">http://git.robertalessi.net/arabluatex</a></p>
<p>From this page, you can download all the releases of ArabLuaTeX. For
instructions on how to install ArabLuaTeX, please see above.</p>
<h2 class="unnumbered" id="sec:comm-feat-requ">Comments, Feature
requests, Bug Reports</h2>
<p><a href="https://gitlab.com/ralessi/arabluatex/issues"
class="uri">https://gitlab.com/ralessi/arabluatex/issues</a></p>
<h2 class="unnumbered" id="sec:download-repository">Download the
repository</h2>
<p>ArabLuaTeX development is facilitated by git, a distributed version
control system. You will need to install git (most GNU/Linux
distributions package it in their repositories).</p>
<p>Use this command to download the repository</p>
<pre><code>git clone http://git.robertalessi.net/arabluatex</code></pre>
<p>A new directory named arabluatex will have been created, containing
ArabLuaTeX.</p>
<h2 class="unnumbered" id="sec:git-hosting">Git hosting</h2>
<p>Make an account on <a href="https://gitlab.com"
class="uri">https://gitlab.com</a> and navigate (while logged in) to <a
href="https://gitlab.com/ralessi/arabluatex"
class="uri">https://gitlab.com/ralessi/arabluatex</a>. Click
<em>Fork</em> and you will have in your account your own repository of
<code>arabluatex</code> where you will be able to make whatever changes
you like to.</p>
